<%- layout('layouts/main') %>
<h1>Mangas Disponibles</h1>
<br>
<p style="font-weight: bold;">ID de Cuenta: </p><%= manga.id%>
<br>
<p style="font-weight: bold;">Email: </p><%= manga.name %>
<br>
<p style="font-weight: bold;">Contraseña:</p><%= manga.password %>