<%- layout('layouts/main') %>
<h1>Perfil de Usuario</h1>
<p style="font-weight: bold;">ID de Cuenta: </p><%= user._id%>
<br>
<p style="font-weight: bold;">Email: </p><%= user.email %>
<br>
<p style="font-weight: bold;">Contraseña:</p><%= user.password %>