/* Aqui defino el tamaño del carusel*/

.carousel-inner {
    height: 400px;
    margin-top: 10px;
}

.card img {
    height: 500px;
}


/*Poniendole margin y quitandole el padding a la carta*/

.card {
    margin: 56px;
    padding-left: 0px;
    padding-right: 0px;
}


/*Quitandole el padding al carrusel*/

#carouselExampleIndicators {
    padding-left: 0px;
    padding-right: 0px;
}


/*Centrar el formulario y que tenga fondo trasparente*/

.mb-4 {
    border: none;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 160px;
    background-color: rgba(255, 255, 255, 0.151);
}


/*Ponerle fondo al body y el estilo del font*/

body {
    background-image: url(../img/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Alegreya Sans SC';
}


/*Tamaño de letra en el header*/

.header {
    font-size: 27px;
    padding: 10px;
}


/*Tamaño de letra en bigicon*/

.bigicon {
    font-size: 35px;
}


/*Que tenga seperacion entre los forms*/

.form-group {
    margin-left: 18rem;
}


/*Aañado una animacion cuando pase por encima de los enlaces*/

.nav-link:hover {
    animation-name: animacionTexto;
    animation-duration: 2s;
}

.btn-primary:hover {
    animation-name: animacionTexto;
    animation-duration: 2s;
}


/*Tamaño que ocupa el navbar*/

.navbar {
    width: 100%;
}


/*Tamaño letra de los enlaces del navbar*/

.navbar a {
    font-size: 20px;
}


/*Animacion del texto*/

@keyframes animacionTexto {
    0% {
        transform: scale(1);
    }
    1% {
        transform: scale(1.1);
    }
    2% {
        transform: scale(1.2);
    }
    0% {
        transform: scale(1);
    }
}


/*Quitarle el margin*/

.col-12 {
    margin: 0;
}


/*Cuando el maximo es de 1024 hago que las cartas no tengan separación*/

@media (max-width: 1024px) {
    .card {
        margin-left: 160px;
        margin-right: 51px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .mb-4 {
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* Cuando el maximo de la pantalla es de 400px hago que el carrusel se ponga mas peuqeño */

@media (max-width: 400px) {
    #carouselExampleIndicators {
        height: 200px;
    }
    .card {
        margin-left: 53px;
        margin-right: 51px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .d-block {
        height: 200px;
    }
    .mb-4 {
        margin-left: 0px;
        margin-right: 0px;
    }
}